body {
    font-family: Arial, sans-serif;
    background-image:linear-gradient(rgb(243, 203, 208),rgb(168, 242, 197));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

.contact-form h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #2e2d2d;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #630436;
    box-shadow: 0 0 5px rgba(99, 3, 54, 0.3);
    outline: none;
}

.error-message {
    display: none;
    color: #e74c3c;
    font-size: 14px;
    margin-top: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5b0119;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #880231;
}

@media (max-width: 600px) {
    .contact-container {
        width: 90%;
    }
}
